@font-face {
  font-family: "omnes-narrow";
  src: url("omnes-narrow.woff2") format("woff2"),
       url("omnes-narrow.woff") format("woff"),
       url("omnes-narrow.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "omnes-narrow";
  src: url("omnes-narrow-bold.woff2") format("woff2"),
       url("omnes-narrow-bold.woff") format("woff"),
       url("omnes-narrow-bold.otf") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

.tk-omnes-narrow {
  font-family: "omnes-narrow", sans-serif;
}