@import "bootstrap-variables";

.calendar .dropdown-toggle:after {
  display: none;
}

.calendar .dropdown-item {
  padding-top: .5em;
  padding-bottom: .5em;

  svg {
    width: 18px;
    color: $primary;
  }

  small {
    color: $border-color;
  }
}



.calendar h1, .calendar .h1 {
  color: $primary;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $black;
  text-shadow: 2px -2px $primary;

  @include media-breakpoint-up(md) {
    -webkit-text-stroke-width: 3px;
    text-shadow: 3px -3px $primary;
  }
}

@include media-breakpoint-down(md) {
  .event-info span {
    display: block;
  }
}
