@import "bootstrap-variables";

.calendar .dropdown-toggle:after {
  display: none;
}

.calendar .dropdown-item {
  padding-top: .5em;
  padding-bottom: .5em;

  svg {
    width: 18px;
    color: $primary;
  }

  small {
    color: $border-color;
  }
}

@include media-breakpoint-down(md) {
  .event-info span {
    display: block;
  }
}
