@import "bootstrap-variables";

.contactPerson {
  border: 1px solid $light;
  border-radius: 5px;
  height: 100%;

  li:not(:last-child) {
    margin-bottom: .25em;
  }
}

.contactInfo p {
  display: flex;
  align-items: center;

  svg {
    border: 1px solid $white;
    border-radius: 50%;
    padding: 5px;
    margin-left: 0;
    height: 0.75rem;
  }

  a {
    color: $white;

    &:hover {
      color: $primary;
    }
  }
}

.contactPersonIcon {
  height: 4rem;
  margin: 2rem 0 1rem;
  color: $primary;
}