@import "bootstrap-variables";

section.faqs {
  @include media-breakpoint-up(lg){
    background-image: url('./../images/svg/footsteps-graphic.svg');
    background-repeat: no-repeat;
    background-position: right 90%;
  }
}

.accordion-header {
  border-bottom: 2px solid $border-color;
}

.accordion-item {
  width: 40%;
}

.accordion-button {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 0;

  &::after {
    background-image: url('./../images/svg/plus-solid.svg') !important;
    border: 1px solid white;
    border-radius: 50%;
    color: $white;
    padding: 5px;
    background-size: 50% !important;
    background-position: center;
  }
  &:not(.collapsed)::after {
    background-image: url('./../images/svg/minus-solid.svg') !important;
  }

  &:hover {
    color: $primary;

    &::after {
      background-color: $primary;
      border-color: $primary;
    }
  }
}
