@import "bootstrap-variables";

footer {
    .navigation-container {
        display: flex;
        justify-content: space-between;
        padding: 4rem 0;
    }

    .footer-foerderung {
        margin-bottom: 4rem;
        line-height: 2;
        padding: 1rem;

        > * {
            display: inline-block;
            margin: 0 5px;
        }
    }

    .footer-border {
        display: flex;
        justify-content: space-between;

        > div {
            display: block;
            background-color: $border-color;
            height: 2px;
        }

        .xsmall {
            width: 10px;
        }
        .small {
            width: 20px;
        }
        .large {
            width: calc(100% - 120px);
        }
    }

    .nav-link {
        color: $light;
        padding-top: 0;

        &:hover {
            color: white;
        }
    }
}