@import "bootstrap-variables";

footer {
    nav.footer-nav {
        margin-bottom: 2rem;
        justify-content: center;

        .navbar-nav {
            justify-content: center;

            .nav-link.active {
                color: $light;
            }

            .nav-arrow {
                display: none;
            }
        }
    }

    .navbar-nav {
        flex-wrap: wrap;
    }

    .navigation-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4rem;
    }

    .footer-foerderung {
        margin-bottom: 4rem;
        line-height: 2;
        padding: 1rem;

        > * {
            display: inline-block;
            margin: 0 5px;
        }
    }

    .footer-border {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;

        > div {
            display: block;
            background-color: $border-color;
            height: 2px;
        }

        .xsmall {
            width: 10px;
        }
        .small {
            width: 20px;
        }
        .large {
            width: calc(100% - 120px);
        }
    }

    .nav-link {
        color: $light;
        padding-top: 0;

        &:hover {
            color: white;
        }
    }
}