@import "bootstrap-variables";

.navbar {
  padding-top: 0 !important;
  justify-content: center;

  .header {
    width: 100%;
  }

  .seondary-brand {
    margin-top: 2rem;

    img {
      max-width: 100px;

      @include media-breakpoint-up(sm) {
        max-width: 140px;
      }
    }
  }

  .social-buttons {
    margin-top: 2rem;
    display: inline-block;

    a {
      color: $black;

      .svg-inline--fa {
        margin: 0.5rem;
      }
    }
  }

  .navbar-brand {
    margin: 0 auto;

    img {
      background: $white;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      max-width: 194px;
      min-width: 194px;
      width: 100%;
      padding: 20px;
    }
  }
}