@import "bootstrap-variables";

.navbar {
    padding-top: 0 !important;

    .navbar-brand {
        margin: 0 auto;
        background: $white;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;

        img {
            max-width: 194px;
            width: 100%;
            margin: 20px;
        }
    }
}