@import "bootstrap-variables";

.navbar {
  padding-top: 0 !important;
  justify-content: center;

  .header {
    width: 100%;
  }

  .seondary-brand {
    margin-top: 2rem;

    img {
      max-width: 100px;

      @include media-breakpoint-up(sm) {
        max-width: 140px;
      }
    }
  }

  .social-buttons {
    margin: 2rem;
    display: inline-block;

    a {
      color: $black;
    }
  }

  .navbar-brand img {
    background: $white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    max-width: 194px;
    width: 100%;
    padding: 20px;
  }
}