@import "bootstrap-variables";

section.home {
  $bottom-padding: 150px;
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: $bottom-padding;
  //background-image: url('./../images/mountain-silhoutte-background__1x.png');
  //@media (min-width: 1921px) {
  //  background-image: url('./../images/mountain-silhoutte-background__2x.png');
  //}
  background-position: bottom;
  background-size: cover;
  color: $black;

  overflow: hidden;

  .home__background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
  }

  .home__background__image {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}