@import "bootstrap-variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  text-transform: uppercase;
}

h1, .h1 {
  color: $primary;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: $black;
  text-shadow: 3px -3px $primary,
}

.btn {
  text-transform: uppercase;
  font-weight: bold !important;
  padding: 0.7rem 2rem !important;

  &:focus {
    box-shadow: unset !important;
  }
}

.btn-outline-dark {
  &:hover {
    background-color: $primary !important;
    border-color: $primary !important;
  }
}

.input-group .btn {
  background-color: $white !important;
  border-width: 0 !important;

  &:hover {
    color: $primary;
    border-width: 0 !important;
  }
}

.svg-inline--fa {
  margin: 0 0.5rem;
}