@import "bootstrap-variables";

table tr {
  .svg-inline--fa {
    color: $light;
    width: 30px;
    text-align: center;
    margin-left: 0;
  }

  td:first-child {
    font-weight: bold;
    min-width: 50px;
  }
}