@import "bootstrap-variables";

img.sharepic {
    width: 100%;
    height: auto;
    border: 2px solid $light;
    border-radius: 5px;
}

.share-button {
    display: block !important;
    margin: 10px auto;
}

.follow-us a {
    color: $white;
}