@import "bootstrap-variables";

section.sharepics {
    @include media-breakpoint-up(lg){
      background-image: url('./../images/svg/music-notes-graphic.svg');
      background-repeat: no-repeat;
      background-position: left 95%;
    }
  }

img.sharepic {
    width: 100%;
    height: auto;
    border: 2px solid $light;
    border-radius: 5px;
}

.share-button {
    display: block !important;
    margin: 10px auto;
}

.follow-us a {
    color: $white;
}