.workshop-filter {
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }
}

img.workshop {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}